/* 
what is CSS:
css is used to design and style the HTML elements

why:
without css:
1.website looks like document

with css: website looks attracrtive

1.improve the UI design
2. reusability of styles
3. easy maintance
4.responsive design



types CSS:
1.inline css: written directly inside HTML tag using style attribute
syntax: 
<tag style="property: value"></tag>

advantages: 
1.Quick changes
2.Easy for biggeners
3.no separate file needed

disadvantages: 
1.repeated code
2.difficult to debug and maintance
3.not suitable for large projects
4.mixs the HTML and CSS code


2.internal css:
CSS is written inside the style tag

syntax:
<head>
<style>
styles</styles>
</head>

advantages: 
1.code resusability in same file
2.css and html in same file sepearatee
3.better than illine css
4.suitable small projects

disadvantages: 
1. not suitable for large projects
2.cannot reuse in other pages/files
3.code become large


3.external css:  css is written in sperate css file

syntax: 
index.html
style.css

<link rel="relation of two files" href="css file path">

advantages: 
1.better than inline and internal css
2.best for large projects
3.faster development
4.code resuable across all files

disadvantages: 
1.required to create seperate css file
2.extra HTTP request

 

what is selector: 
types of selector
1.universal selector(*) ----selects all elements in file
2.element selector/tag selector(tag name)----targets the all elements of same tag
3.class selector(. classname)---targets the multiple elements using class
4.ID selector(#)-----targets a single unique element
5.group selector(,)-----apply same styles to multiple elements
6.pseudo class selector(:)-------when ever we want ot change the state of the element of position
:hover------change the state of an element while pacing curser on element
:focus-----from 
:active-----applies style when user clicked on a element
:visited-----styles visted links
:link----unvisited links
:first-child-------target first child of an element
:last-child--------target last child of an element
:nth---------------target specific element
:checked--------targets the checked checkbox/radio button
7.pseudo element selector(::)--------we even we ant to change the specific part of an element
syntax: 
    selector::speudo-element{
    peoperty: value;
}
::before---adds the content before element
::after
::first-letter
::first-line
::placeholder
::selection
8.combination selectors:
1.child selectors
   1.direct child selectors(>)
   2.indirect child selectors/descendent child selectors(space)
2.sibling selectors---------------
  1.adcent sibling selectors(+)
  2.general sibling selectors(~)