
#page-title{
    text-align:center;
    color:darkblue;
    font-size:36px;
}


.assignment-card{
    width:320px;
    margin:20px auto;
    padding:15px;
    border:2px solid black;
    border-radius:10px;
    background:white;
}
.assignment {
    display:flex;
}
.assignment-description{
    color:green;
}


.assignment-card:first-child{
    border:4px solid orange;
}

.assignment-card:first-child .assignment-title::after{
    content:" 🆕 New Assignment";
    color:red;
}


.assignment-card:last-child .assignment-title::after{
    content:" ⏰ Deadline Soon";
    color:blue;
}

/* Alternate Assignment Cards */
.assignment-card:nth-child(even){
    background:#f2f2f2;
}

/* Submit Button */
button{
    padding:10px 15px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

button:hover{
    background:green;
}


.assignment-title::before{
    content:"📄 ";
}

/* Submission Status Badge */
.assignment-title::after{
    content:" ✅ Submitted";
    color:green;
}

/* First Letter */
.assignment-description::first-letter{
    font-size:28px;
    color:red;
    font-weight:bold;
}