
#company-name{
    text-align:center;
    color:darkblue;
    font-size:35px;
}

.employee-card{
    width:300px;
    margin:20px auto;
    padding:15px;
    border:2px solid black;
    border-radius:10px;
    background:white;
}
.employee-details{
    display:flex;
}


.employee-name{
    color:blue;
    font-size:24px;
}

.employee-details{
    color:green;
}


.team-lead + .employee-card{
    border:3px solid red;
}

.team-lead ~ .employee-card{
    background:#f2f2f2;
}


.employee-card:first-child{
    border:4px solid gold;
}

.employee-card:first-child .employee-name::after{
    content:" ⭐ Star Performer";
    color:orange;
}


.employee-card:last-child .employee-name::after{
    content:" 🤝 Support Team";
    color:green;
}


.employee-name::before{
    content:"👨‍💼 ";
}

.employee-card:nth-child(even){
    background:#e6f7ff;
}