/* Website Logo */
#logo{
    text-align:center;
    color:darkblue;
    font-size:36px;
}

/* Product Cards */
.product-card{
    width:200px;
    border:2px solid black;
    margin:10px auto;
    padding:10px;
    border-radius:10px;
    background:white;0
}

/* Product Name */
.product-name{
    color:blue;
    font-size:24px;
}

/* Price */
.offer .price{
    color:red;
    font-size:22px;
    font-weight:bold;
}

/* First Product */
.product-card:first-child{
    border:4px solid orange;
}

.product-card:first-child .product-name::after{
    content:" 🔥 Hot Deal";
    color:red;
}

/* Last Product */
.product-card:last-child .product-name::after{
    content:" ⚠️ Limited Stock";
    color:green;
}

/* Alternate Product Cards */
.product-card:nth-child(even){
    background:#f2f2f2;
}

/* Shopping Cart Icon */
.product-name::before{
    content:"🛒 ";
}

/* Discount Badge */
.offer::after{
    content:" 20% OFF";
    color:white;
    background:red;
    padding:2px 6px;
    border-radius:5px;
}

/* Button */
button{
    padding:10px 15px;
    background:blue;
    color:white;
    border:none;
    cursor:pointer;
}

/* Hover Effect */
button:hover{
    background:green;
}